@import "reset.css";
@font-face {
  font-family: "Pathway Gothic One";
  src: url("../font/PathwayGothicOne-Regular.eot");
  src: local("Pathway Gothic One Regular"), local("PathwayGothicOne-Regular"),
    url("PathwayGothicOne-Regular.eot?#iefix") format("embedded-opentype"),
    url("../font/PathwayGothicOne-Regular.woff2") format("woff2"),
    url("../font/PathwayGothicOne-Regular.woff") format("woff"),
    url("../font/PathwayGothicOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Pathway Gothic One", sans-serif;
}

.background {
  width: 100%;
  height: 100%;
  background: #000;
  overflow: hidden;
}

.section {
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 500%;
  font-weight: 400;
  line-height: 100%;
  color: #ffbe00;
  perspective: 400px;
  perspective-origin: center;
  overflow: hidden;
}

.container {
  position: absolute;
  top: 0;
  left: 20%;
  right: 20%;
  height: 100%;
  animation-name: play;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

.title,
.subtitle {
  text-transform: uppercase;
  text-align: center;
}

.title,
.subtitle,
.first-paragraph {
  margin-bottom: 25px;
}

@keyframes play {
  0% {
    transform: rotateX(35deg) translate3d(0, 50rem, 0);
    opacity: 1;
  }

  85% {
    opacity: 1;
  }

  100% {
    transform: rotateX(50deg) translate3d(0, -150rem, 0);
    opacity: 0;
  }
}
