@font-face {
    font-family: 'Pathway Gothic One';
    src: url('PathwayGothicOne-Regular.eot');
    src: local('Pathway Gothic One Regular'), local('PathwayGothicOne-Regular'),
        url('PathwayGothicOne-Regular.eot?#iefix') format('embedded-opentype'),
        url('PathwayGothicOne-Regular.woff2') format('woff2'),
        url('PathwayGothicOne-Regular.woff') format('woff'),
        url('PathwayGothicOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

